# duti Config File

# Document Types
# Bundle ID			        TIE/ext/MIME-type		Role

# Text Editor
com.visualstudio.code.oss	text/plain				all
com.visualstudio.code.oss   public.plain-text 		all
com.visualstudio.code.oss   public.unix-executable	all
com.visualstudio.code.oss	txt						all
com.visualstudio.code.oss	py						all
com.visualstudio.code.oss	php						all
com.visualstudio.code.oss	rb						all
com.visualstudio.code.oss	js						all
# com.visualstudio.code.oss	html					all
com.visualstudio.code.oss	json					all
com.visualstudio.code.oss	xml						all
com.visualstudio.code.oss	sh						all
com.visualstudio.code.oss	bash					all
com.visualstudio.code.oss	fish					all
com.visualstudio.code.oss	sql						all
com.visualstudio.code.oss	css						all
com.visualstudio.code.oss	scss					all
com.visualstudio.code.oss	fish					all
com.visualstudio.code.oss	ini						all
com.visualstudio.code.oss	lua						all
com.visualstudio.code.oss	plist					all
com.visualstudio.code.oss	zsh 					all
com.visualstudio.code.oss	md   					all
com.visualstudio.code.oss	payload					all
com.visualstudio.code.oss	results					all
com.visualstudio.code.oss	config					all
com.visualstudio.code.oss	plist					all

# URL Schemes
# Bundle ID				    URL Scheme
com.visualstudio.code.oss   vscode
