# duti Config File

# Document Types
# Bundle ID			        TIE/ext/MIME-type		Role

# Text Editor
com.coteditor.CotEditor	    text/plain				all
com.coteditor.CotEditor        public.plain-text 		all
com.coteditor.CotEditor        public.unix-executable	all
com.coteditor.CotEditor	    txt						all
com.coteditor.CotEditor	    py						all
com.coteditor.CotEditor	    php						all
com.coteditor.CotEditor	    rb						all
com.coteditor.CotEditor	    js						all
# com.coteditor.CotEditor	    html					all
com.coteditor.CotEditor	    json					all
com.coteditor.CotEditor	    xml						all
com.coteditor.CotEditor	    sh						all
com.coteditor.CotEditor	    bash					all
com.coteditor.CotEditor	    fish					all
com.coteditor.CotEditor	    sql						all
com.coteditor.CotEditor	    css						all
com.coteditor.CotEditor	    scss					all
com.coteditor.CotEditor	    fish					all
com.coteditor.CotEditor	    ini						all
com.coteditor.CotEditor	    lua						all
com.coteditor.CotEditor	    plist					all
com.coteditor.CotEditor	    zsh 					all
com.coteditor.CotEditor	    md   					all
com.coteditor.CotEditor	    payload					all
com.coteditor.CotEditor	    results					all
com.coteditor.CotEditor	    config					all
com.coteditor.CotEditor	    plist					all

# URL Schemes
# Bundle ID				    URL Scheme
com.microsoft.VSCode        vscode
